@import "normalize";
@import "mediaelementplayer";

$bg: #FFF;

html{
    background-color: $bg;
}
body{
    border: 1px solid red;
}

h1{
  font-size: 8em;
    color: #0FA;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

span[class^="char"]{
  color: #F00;
  display: inline-block;
  
}

  span[class^="char"]:nth-of-type(2){
    transform: skewX(-12deg);
    transform: skewX(-12deg);
    transform: skewY(-12deg);
    transform: skewY(-12deg);
      font-size: .88em;
  }
