html{
    background-color: #111;
}
/* Content */


/* Stars */

.star{
	display: inline-block;
	position: relative;
    svg {
	    path{
	    	fill: #FFF;
	    }
    }

}

.half{
	margin-left: -34px;
}