html{
    background-color: #111;
}
/* Content */

/* Video Player */
#vid-container {
    max-width: 100%;
    width: 100%;
}

.mejs__container, .mejs__container-keyboard-inactive, .mejs__video, .mejs__overlay, .mejs__layer, .mejs__overlay-play{
    max-width: 100%;
	width: 100%;
	height: 100%;
}

video{
	max-width: 100%;
	height: 100%;
}
/* Stars */

.star{
	display: inline-block;
	position: relative;
    width: 60px;
    height: 45px;
    svg {
	    path{
	    	fill: #FFF;
	    }
    }

}

.gold{
	fill: gold;
}