/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) and (max-width: 47.999em){ 
    /* Element snap 100% */
    body.flex, main {
       display: block;
    }
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Mobile Size";
  }

    
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em) and (max-width: 79.999em) {
    
    main {
        padding: 2em;
        justify-content: space-between;
    }
    
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
    
    // Fixed width. Center Aligned. 
    body.flex, main {
        margin: 0 auto;
        width: 85%;
    } 
    
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }

}