/* Lettering H1 */
h1{
    font-size: 8em;
    color: #0FA;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-shadow: 3px 3px 3px #000;
}

h2.ul-head{
  font-family: monospace;
  font-size: 2em;
}

span[class^="char"]{
  color: #F00;
  display: inline-block;
  
}

  span.char2{
    transform: skewX(-12deg);
    transform: skewY(-12deg);
    font-size: .92em;
  }


/* Paragraphs / Articles */
#description{
  font-family: sans;
  font-size: 1.1em;
  max-width: 600px;
}

ul{
  list-style: square;
  li{
    font-family: monospace;
    font-size: 1.3em;
    line-height: 1.6em;
    color: #FFF;
  }

}


p, label{
  color: #FFF;
}



/* MISC. */

.noSelect{
    
}