<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon2/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon2/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon2/favicon-16x16.png">
    <link rel="manifest" href="img/favicon2/manifest.json">
    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
    <title>Red Movie</title>
</head>
<body class="flex">
<header>
    <h1>RED</h1>
</header>
    <section id="vid-container">
    <video>
        <source src="video/trailer.mp4">
        <source src="video/trailer.webm">
    </video>    
    </section>
    <article> 
        <p id="description">Former black ops agent Frank Moses lives a boring life, alone in his suburban home. One night, a failed assassination attempt leaves Frank no choice but to find answers. Old friends join in on the adventure to form an unstoppable force. Retired &amp; Extremely Dangerous, against all odds.</p>
    </article>
<main>
    <aside>
        <h2 class="ul-head">Starring</h2>
        <ul>
            <li>Bruce Willis as Frank Moses</li>
            <li>Mary-Louise Parker as Sarah Rose</li>
            <li>Karl Urban as William Cooper</li>
            <li>Morgan Freeman as Joe Matheson</li>
            <li>John Malkovich as Marvin Boggs</li>
            <li>James Remar as Gabriel Singer</li>
            <li>Helen Mirren as Victoria</li>
        </ul>
    </aside>
    <aside>
        <h2 class="ul-head">Directors &amp; Writers</h2>
        <ul>
            <li>Directed by:  Robert Schwentke </li>
            <li>Screenplay: Jon Hoeber, Erich Hoeber</li>
            <li>Graphic Novel: Warren Ellis, Cully Hamner</li>
        </ul>
    </aside>
    <aside>
        <h2 class="ul-head">Misc.</h2>
        <ul>
            <li>Runtime: 111 Minutes</li>
            <li>Released: October 15, 2010</li>
            <li>Rated <span id="pg13">PG-13</span></li>
        </ul>
    </aside>
    <aside>
        h2(class="ul-head") 3.5/5
        include star.pug
        include star.pug
        include star.pug
        include half_star.pug
    </aside>
</main>
<footer>
    <label>Copyright 2017</label>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="js/core.js"></script>
</body>
</html>